
params {
	
	reads = "../data/*_R{1,2}_*.fastq.gz"

	reference = "../data/reference/all_falciparome_targets_no_primer.fasta"

	outdir = "../results"

}

/*
//	Process Config for Aragorn

process{
	
	executor = "local"

	queueSize = 1

}
*/


//	Wynton Specific Process Config

process {

	executor = "sge"

	scratch = true

	stageInMode = "copy"

	stageOutMode = "move"

	errorStrategy = "retry"

	clusterOptions = '-S /bin/bash -o job.log -e job.err'

}

executor {

	queueSize = 1000

}

// 	end Wynton specific process config

// keep trace
trace {

	enabled = true

	file = "${params.outdir}/trace.txt"

}

// keep report
report {

	enabled = true

	file = "${params.outdir}/report.html"

}
